.avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: var(--idr-box-shadow-color) 0 3px 10px;
}

.username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    padding-top: 5px;
    width: 85px;
    text-align: center;
}
