.logoContent {
    display: flex;
}

.wrapImg {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 86px;
    height: 86px;
    padding-right: 16px;
    position: relative;
}

.image {
    position: absolute;}

.wrapTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 16px;
    font-size: 22px;
    line-height: 23px;
}

//.cls-1{fill:#70bfa1;}.cls-2{fill:#fe9a25;}.cls-3{fill:#e71726;}
