
@keyframes circle-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader.simple-circle {
  transform-origin: center center;
  border: 4px solid var(--idr-spinner-ring-color);
  border-right-color: var(--idr-secondary--1);
  border-radius: 50%;
  animation: circle-loader 1s infinite ease-out;
}


.preloader-wrapper {
  display: block;
  &.active {
    display: block;
  }
}
