// app settings (for dark theme)
.view-content#idr-app *:not(button) {
  color: var(--idr-text-color);
}

// The initial content have a paddings there
.workspace-leaf-content .view-content#idr-app {
  padding: 0;
}

// global width configuration
div#idr-app {
  display: grid;
  place-items: center;
  background: linear-gradient(to bottom, var(--idr-contrast-bg) 0, var(--idr-contrast-bg) 115px, var(--idr-medium-bg) 115px, var(--idr-medium-bg) 100%);
}

div#idr-app.no-header {
  background: var(--idr-medium-bg);
}

div#idr-app > div {
  min-width: 400px;
  max-width: 600px;
  width: inherit;
}

// global icon configuration
.idr-icons {
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Uncomment for 3D effect
  text-shadow: 1px 1px 1px var(--idr-box-shadow-color);
}
