.mk-style-menu {
    display: flex;
    padding: 0;
    margin-top: -50px;
    margin-left: -80px;
    align-items: center;
    max-height: 40px;
}
.mk-style-menu.menu {
    background-color: var(--idr-primary-color);
    border: none;
}
.mk-style-menu .mk-mark {
    /*margin: 4px;*/
    padding: 4px;
    border-radius: 4px;
    display: flex;
}
.mk-style-menu .mk-mark svg {
    width: 40px;
}
.mk-style-menu .mk-mark:hover {
    background: var(--background-modifier-hover);
}
